@if (TempData["Success"] is string successMessage)
{
    <div id="alert" class="alert alert-success alert-dismissible fade show">
        <i class="bi bi-check-circle-fill me-2"></i>
        @successMessage
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
}

else if (TempData["Error"] is string errorMessage)
{
    <div id="alert" class="alert alert-danger alert-dismissible fade show">
        <i class="bi bi-exclamation-triangle-fill me-2"></i>
        @errorMessage
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
}